vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.php
.env
Homestead.yaml
Homestead.json
package-lock.json


# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
.idea/

/.vscode
/.vagrant
/public/node_modules
.bak
.DS_Store
composer.lock
.phpunit.result.cache
yarn-error.log
/public/package-lock.json
/public/package.json
/public/composer.lock

# SSH
/config/*_rsa*

*.bak
log
