// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Text Style
@import "textstyle";

.select:hover{
    cursor: pointer;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.oldhike {
    color: lightgray;
}

// For a discreet indication of the version in the layout
.versiontag {
    font-size: 8px;
    color: lightgrey;
}

.search-bar:focus-within {
    .search-results {
        visibility: visible;
    }
}

.search-results {
    position: absolute;
    z-index: 10000;
    top: 100%;
    width: 100%;
    max-height: 380px;
    overflow-y: scroll;
    visibility: hidden;

    &__row {
        display: flex;
        background-color: #fff;
        border: 1px solid #eee;
        user-select: none;
        cursor: pointer;
        
        &:hover {
            background-color: #efefef;
        }
    }
    
    &__link {
        padding: 8px;
        width: 100%;
        color: inherit !important;
        text-decoration: none !important;
    }
}